@charset "UTF-8";
/* CSS Document */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/

/*-- 1.1 HEADINGS --*/
h1, #foot-l {
	background-image: url(../img/logo.png);
	height: 125px;
	width: 175px;
	}
h2, h3, label, a, form p, b, blockquote p{
	font-family: 'Concert One', cursive;
	}
h2 {
	font-size: 36px;
	letter-spacing: 2px;
	}
p, input {
	font-family: 'Dosis', sans-serif;
	}
#products h3 {
	font-size: 2rem;
	}		
	
/*-- 1.2 BODY COPY --*/
html {
	font-size: 16px;
	}
p {
	font-size: 1.20rem;
	}
blockquote p, #about-us b{
	font-size: 2.25rem;
	}
blockquote p a {
	font-size: 1rem;
	}
#contact-us form h2, .col-7-12 p, #hero-img div:last-child, section h2, blockquote {
	text-align: center; 
	}
#shipping h2 {
	text-align: left;
	}
#newsletter h3 {
	display: inline-block;
	}
		
/*-- 1.3 BUTTONS --*/		
a {
	letter-spacing: 1.5px;
	padding: 10px 16px;
	text-decoration: none;
	}
@-moz-document url-prefix() { 
  	a {
     	padding-bottom: 19px;
  	}
  	a#review {
	  	padding-bottom: 45px;
	}
	a#facebook, a#linked-in, a#twitter {
		padding-bottom: 9px;	
	}
	}
#contact-us form a {
	margin-left: 175px;
	}
header a {
	margin-left: 20px;
	}
.social-media a {	
	height: 36px;
	padding: 0;
	}
footer a {
	height: 100%;
	width: 100%;
	padding: 3px 13px;
	}
	
/*-- 1.4 FORMS --*/
#contact-us form {
	margin: 75px 0 0 85px;
	}
#contact-us form input {
	margin-bottom: 15px;
	}
input {
	border-style: none;
	height: 46px;
	}
input, textarea {
	width: 415px;
	}
#newsletter form {
	padding-top: 54px;
	}
textarea {
	border: none;
	height: 98px;
	margin-bottom: 46px;
	}
	
/*-- 1.5 LISTS --*/					
footer li {
	margin-top: 80px;
	}
nav li {
	padding: 6px 10px;
	}	
nav li, footer li {
	list-style: none;
	}
		
/*-- 2.0 NAVIGATIONS --*/	
 nav.col-1-6 {
	background-color: rgba(42,73,77, 0.8);
	position: fixed;
	right: 10.05%;
	top: 0;
	z-index: 2;
	}
	
/*-- 3.1 SITE STRUCTURE --*/
.wrapper {
	margin: 0 auto;
	width: 80%;	
	}
*, *:after, *:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	}
.row:after {
	clear: both;
	content: "";
	display: table;
	}	
header div:last-child, blockquote {
	text-align: right;
	}
blockquote {
	margin-top: 112px;
	}
#shipping p {
	margin-bottom: 35px;
	}
.col-1-3 .col-1-2 p:last-child, .col-1-2 .col-1-2 p:last-child {
	margin-top: 35px;
	}
.col-1-3 .col-1-2 p:nth-child(2), .col-1-2 .col-1-2 p:nth-child(2) {
	margin-top: 0;
	}
.col-1-3 .col-1-2 {
	margin-top: 10px;
	}
.col-1-2 {
	margin-top: 15px;
	}
.col-1-3 {
	margin-top: 60px;
	}
.col-5-12 {
	margin-top: 120px;
	}
.col-7-12 {
	margin-top: 70px;
	}
#products {
	padding-bottom: 60px;
	}
#products h2 {
	padding-top: 60px;
	}
#about-us {
	margin-top: 25px;
	}
figure {
	margin: 0;
	}
#newsletter .wrapper {
	width: 60%;
	}
#map, .col-1-3 .col-1-2 {
	width: 100%;
	}
#map {
	height: 476px;
	}
#evening-oak, #featured {
	margin-top: 75px;
	}
footer .wrapper {
	width: 35%;
	}
footer li {
	margin-left: 25px;
	}
#hero-img header {
	padding-bottom: 25px;
	}
#contact-us input, #contact-us label {
	display: block;
	}
#contact-us form p:last-child {
	margin-bottom: 100px;
	}
#foot-l {
	float: left;
	margin-top: 15px;
	}
#foot-r {
	float: right;
	margin-top: 50px;
	}	
#newsletter p, #newsletter input, #newsletter header, footer li{
	display: inline;
	}
#newsletter label {
	display: none;
	}	
	
/*-- 5.0 UTILITY --*/

/* IMAGES */
#review {
	background-image: url(../img/review-img.png);
	padding: 38px 50px;
	}
#review:hover {
	background-position: 0 95px;
	}
#facebook, #twitter, #linked-in {
	background-image: url(../img/facebook.png);
	}
#facebook:hover, #twitter:hover, #linked-in:hover {
	background-position: 0 -25px;
	}
#twitter {
	background-image: url(../img/twitter.png);
	}
#linked-in {
	background-image: url(../img/linked-in.png);
	}
#form-img {
	background-image: url(../img/form.png);
	height: 420px;
	margin-top: 220px;
	width: 336px;
	}
#hero-img {
	background: #85d2de url(../img/hero-img.jpg) no-repeat 30px 20px;
	}
#newsletter{
	background-image: url(../img/newsletter-img.jpg);	
	height: 165px;
	margin-top: 45px;
	}
#map {
	background-image: url(../img/map.jpg);
	}
h1:hover {
	background: url(../img/logo.png) 0 -125px;
	}
	
/*--  Button Hovers --*/
.button:hover {
	color: #22929e;
	-o-transition:.6s;
  	-ms-transition:.6s;
  	-moz-transition:.6s;
  	-webkit-transition:.6s;
  	transition:.6s;
	}
nav a:hover {
	color: #85d2de;
	-o-transition: .8s;
  	-ms-transition: .8s;
  	-moz-transition: .8s;
  	-webkit-transition:.8s;
  	transition:.8s;
	}
	
/*-- COLORS --*/
.bg-blue {
	background-color: #85d2de;
	}
h2, h3, label, form p, p, input, blockquote p {
	color: #2a494d;
	}
textarea, input, .button:hover {
	background-color: #b2e1ea;
	}
footer, .button {
	background-color: #2a494d;
	}
a {
	color: #fff;
	}

/*-- COLUMNS --*/
[class*='col-']	{
	float: left;
	margin-bottom: 15px;
	padding-right: 20px;	
	}
[class*='col-']:last-of-type {
	padding: 0;
	}
.col-1-2 {
	width: 50%;
	}
.col-1-3 {
	width: 33.33%;
	}
.col-1-6 {
	width: 16.66%;
	}
.col-5-12 {
	width: 41.66%;
	}
.col-7-12 {
	width: 58.33%;
	}
	
	
/*-- 480PX VIEWPORT --*/


@media (max-width: 480px) {
		
/*--- 1.0 TYPOGRAPHY ---*/
h1 {
	font-size: 3.5rem;
	}
h2 {
	font-size: 2.5rem;
	}
h3 {
	font-size: 1rem;
	}
	
/*--- 1.2 BODY COPY---*/
.col-7-12 p {
	margin-left: 10px;
	}
blockquote, footer li {
	margin-left: 15px;
	}
blockquote {
	text-align: center;
	}
/*--- 3.1 SITE STRUCTURE ---*/	
.wrapper, .col-1-2, .col-5-12, #about-img, .col-1-3 {
	width: 100%;
	}
blockquote, .col-7-12 p {
	width: 90%;
	}
nav.col-1-6 {
	position: static;
	margin-left: 60px;
	}
.col-1-3 .col-1-2, .col-1-2 .col-1-2 {
	width: 50%;
	}
.col-1-6 {
	width: 40%;
	}
#newsletter .wrapper, .col-7-12, #shipping, #about-us p {
	width: 100%;
	}
#newsletter input {
	width: 35%;
	}
footer .wrapper{
	width: 80%;
	}
.col-1-2 header {
	margin-left: 25px;
	}
nav ul {
	padding: 0;
	}
.col-1-2, .col-1-3 {
	margin-top: 20px;
	}
#contact-us .col-5-12 {
	margin-left: 20px;
	}
#contact-us form p:last-child {
	margin-bottom: 70px;
	}
.col-7-12, #shipping, #about-us p, #newsletter form {
	margin-left: 25px;
	}
.col-5-12 {
	margin-top: 70px;
	}
.col-7-12 {
	margin-top: 30px;
	}
.col-1-2 .col-1-2 p, .col-1-2 .col-1-2 header, .col-1-2 .col-1-2 a img, .col-1-3 .col-1-2 p, .col-1-3 .col-1-2 header, #review {
	margin-left: 45px;
	}
footer {
	padding: 30px 0;
	}
#shipping {
	margin-top: 0;
	}
#products h2 {
	padding-top: 45px;
	}
#contact-us form {
	margin: 0 auto;
	}
#form-img {
	display: none;
	}
#hero-img {
	background-image: none;
	}
	}