@charset "UTF-8";
/* CSS Document */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/
.logo {
	background-color: #000;
	float: left;
	height: 116px;
	width: 156px;
	}
h1 {
	margin: 0;
	}
#nav {
	background-color: #666666;
	float: right;
	height: 145px;
	width: 166px;
	}
#nav li {
	padding: 6px 12px;
	list-style: none;
	}
a {
	width: 153px;
	height: 36px;
	padding: 10px 16px;
	color: white;
	background-color: black;
	text-decoration: none;
	}
header a {
	margin-left: 20px;
	}
#quote p {
	margin-bottom: 50px;
	}
blockquote {
	text-align: right; /*-- Cant figure this one out */
	float: right;
	}
blockquote p {
	font-size: 2rem;
	}
.col-1-2 {
	margin-top: 90px;
	}
.col-3-4 {
	margin-top: 112px;
	}
.col-1-3 {
	margin-top: 60px;
	}
.col-5-12 {
	margin-top: 165px;
	}
.col-7-12 {
	margin-top: 70px;
	}
.product-1 {
	background-color: #000;
	height: 370px;
	width: 260px;
	}
.product-2 {
	background-color: #000;
	height: 292px;
	width: 266px;
	}
#about-img {
	background-color: #000;
	height: 277px;
	width: 467px;
	}
#shipping p {
	margin-bottom: 35px;
	}
#newsletter{
	background-color: #585757;
	height: 165px;
	margin-top: 45px;
	}
#newsletter h3 {
	display: inline-block;
	}
#newsletter form {
	padding-top: 54px;
	}
#newsletter .wrapper {
	width: 50%;
	}
#map {
	height: 476px;
	width: 100%;
	}
fieldset {
	border-style: none;
	}
#contact-us form {
	margin-left: 85px;
	margin-top: 75px;
	}
#contact-us form h2 {
	text-align: center; 
	}
#contact-us form a {
	margin-left: 175px;
	}
#contact-us form input {
	margin-bottom: 15px;
	}
input {
	background-color: #000;
	border-style: none;
	width: 415px;
	height: 46px;
	}
textarea {
	background-color: #000;
	height: 98px;
	width: 415px;
	margin-bottom: 46px;
	}
#form-img {
	background-color: #000;
	height: 640px;
	width: 331px;
	}
footer .wrapper {
	width: 30%;
	}
footer {
	background-color: #666666;
	height: 160px;
	margin-top: 70px;
	}
footer .logo {
	margin-top: 30px;
	}
#facebook, #twitter, #linked-in {
	height: 25px;
	width: 25px;
	}
#facebook {
	background-image: url(../img/facebook.png);
	}
#facebook:hover {
	background: url(../img/facebook.png) 0 -25px;
	}
#twitter {
	background-image: url(../img/twitter.png);
	}
#twitter:hover {
	background: url(../img/twitter.png) 0 -25px;
	}
#linked-in {
	background-image: url(../img/linked-in.png);
	}
#linked-in:hover {
	background: url(../img/linked-in.png) 0 -25px;
	}
.social-media a{
	width: 153px;
	height: 36px;
	padding: 0;
	}
.social-media li {
	margin-left: 15px;
	margin-top: 80px;
	list-style: none;
	}
.social-media {
	display: flex;
	}	
.wrapper {
	width: 80%;
	margin: 0 auto;
	height: inherit;
	}
*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
.row:after {
	clear: both;
	content: "";
	display: table;
	}
/*-- COLUMNS --*/

[class*='col-']	{
	float: left;
	padding-right: 20px;
	margin-bottom: 15px;
	}
[class*='col-']:last-of-type {
	padding: 0;
	}
.col-1-1 {
	width: 100%;
	}
.col-1-2 {
	width: 50%;
	}
.col-1-3 {
	width: 33.33%;
	}
.col-2-3 {
	width: 66.66%;
	}
.col-1-4 {
	width: 25%;
	}
.col-3-4 {
	width: 75%;
	}
.col-1-5 {
	width: 20%;
	}
.col-2-5 {
	width: 40%;
	}
.col-3-5 {
	width: 60%;
	}
.col-1-6 {
	width: 16.66%;
	}
.col-5-6 {
	width: 83.33%;
	}
.col-1-7 {
	width: 14.28%;
	}
.col-3-7 {
	width: 42.86%;
	}
.col-4-7 {
	width: 57.14%;
	}
.col-1-8 {
	width: 12.50%
	}
.col-3-8 {
	width: 37.50%;
	}
.col-5-8 {
	width: 62.50%;
	}
.col-1-9 {
	width: 11.11%;
	}
.col-2-9 {
	width: 22.22%;
	}
.col-7-9 {
	width: 77.77%;
	}	
.col-1-10 {
	width: 10%;
	}
.col-4-10 {
	width: 40%;
	}
.col-6-10 {
	width: 60%;
	}
.col-1-11 {
	width: 9.09%;
	}
.col-4-11 {
	width: 36.36%;
	}
.col-7-11 {
	width: 63.60%;
	}
.col-1-12 {
	width: 8.33%;
	}
.col-5-12 {
	width: 41.66%;
	}
.col-7-12 {
	width: 58.33%;
	}
	
/*-- 480PX VIEWPORT --*/


@media (max-width: 480px) {

.wrapper {
		width: 85%;
		}
		
/*--- 1.0 TYPOGRAPHY ---*/

h1 {
	font-size: 3.5rem;
	}
h2 {
	font-size: 2rem;
	}
h3 {
	font-size: 1.5rem;
	}
	
/*--- 1.2 BODY COPY---*/

/*--- 3.1 SITE STRUCTURE ---*/	
.wrapper {
	width: 100%;
	}
.col-1-2, .col-7-12, .col-5-12 {
	width: 100%;
	}
section h2 {
	text-align: center;
	}
blockquote {
	width: 95%;
	text-align: center;
	}
.col-1-3 {
	width: 45%;
	}
#shipping {
	margin-left: 25px;
	width: 90%;
	}
#contact-us form {
	margin: 0 auto;
	margin-left: 25px;
	}
.col-7-12 p {
	width: 95%;
	text-align: center;
	margin-left: 10px;
	}
about-img {
	width: 100%;
	}
#about-us p {
	width: 90%;
	margin-left: 25px; 
	}
#form-img {
	display: none;
	}
#newsletter .wrapper {
	width: 90%;
	}
#newsletter input {
	width: 30%;
	}
footer .wrapper {
	width: 80%;
	}
/*--- 5.0 UTILITY ---*/

	}